.vs/
.git/
.github/
Local settings/
AdminPanel/bin/
AdminPanel/obj/
AdminPanel/Properties/
AdminPanel/appsettings.json
AdminPanel/appsettings.Development.json

React.Web/bin/
React.Web/obj/

React.Web/wwwroot/lib/

DAL/bin/
DAL/obj/

Entities/bin/
Entities/obj/
Helpers/bin/
Helpers/obj/
React.Web/itage-ecommerce-web-two/node_modules/

*/node_modules/

/React.Web/appsettings.Development.json
/React.Web/appsettings.json
