.vs/
.git/
.github/
Local settings/
AdminPanel/bin/
AdminPanel/obj/
AdminPanel/Properties/

AdminPanel/appsettings.json

React.Web/bin/
React.Web/obj/
React.Web/appsettings.json
React.Web/appsettings.Development.json

DAL/bin/
Entities/bin/
Entities/obj/
Helpers/bin/
Helpers/obj/

